<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.qa.test.Test_Cases"/>
      <class name="com.qa.Resource.ReadExcel"/>
      <class name="com.qa.basetest.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
