<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
           
      <class name="com.qa.basetest.BaseTest"/>
      <class name="com.qa.pages.HomePage"/>
      <class name="com.qa.pages.ElectronicsPage"/>
      <class name="com.qa.pages.JewleryPage"/>
      <class name="com.qa.pages.CartPage"/>
      <class name="com.qa.pages.OrderPage"/>
      <class name="com.qa.pages.CheckoutPage"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
